.Footer {
  margin-top: auto;
  background-color: #364563;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  border: solid 1px #202a40;
}

.Header {
  padding: 1rem;
  text-align: center;
  background-color: #364563;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: solid 1px #202a40;
}

.Header-image {
  margin: auto;
  display: block;
  align-items: center;
  width: 100%;
  max-width: 513px;
}
